
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// Navbar Logo
a.navbar-brand {
    position: relative;
    display: block;
    width: 200px !important;
}
svg.emol-logo-navbar {
    width: 100px;
    display: block;
}
